<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx.xsd">

   
    <mvc:annotation-driven/>

    
    <context:component-scan base-package="pl.atins.microblog.controller"/>

    <!-- Zadanie 3 -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:mem:microblog"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <!-- Zadanie 4: EntityManagerFactory (Hibernate JPA) -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- pakiet, w którym będą encje (na start może być szeroko) -->
        <property name="packagesToScan" value="pl.microblog.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- Zadanie 4: TM -->
    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Włączenie @Transactional -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
           <!-- Lab 5 Zad 4 – DAO beans -->
<bean id="uzytkownikDao"
      class="pl.atins.microblog.dao.impl.UzytkownikDaoImpl"/>

<bean id="followerDao"
      class="pl.atins.microblog.dao.impl.FollowerDaoImpl"/>

<bean id="wiadomoscDao"
      class="pl.atins.microblog.dao.impl.WiadomoscDaoImpl"/>


</beans>
